.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_sum{
    line-height: 1;
    margin-top:30px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.cart_sum:empty:after{
    content: '';
    background-color: #dadada;
    width:100px;
    height:18px;
    border-radius: 5px;
}

.cart_submit_wrap{
    margin-top:15px;
    display: flex;
    justify-content: flex-end;
}

.centered_wrap{

}

@media all and (max-width: 550px){
    .centered_wrap{
        width:100%;
    }
}