.select{
    display: flex;
    font-size:14px;
    align-items: center;
    padding: 0 5px;
    border:1px solid #e1e1e1;
    box-sizing: border-box;
    height: 30px;
    border-radius: 3px;
    width:270px;
}

.value_wrap{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.toggle{
    color:#aaa;
    user-select: none;
}

.toggle_wrap{
    cursor: pointer;
}

.list_wrap_line{
    position: relative;
}

.list_wrap{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    z-index: 9;
}

.list_item{
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    border:1px solid #e1e1e1;
    margin-top: -1px;
    background-color: #fff;
    font-size:14px;
    min-height: 30px;
    cursor: pointer;
    user-select: none;
}

.list_item:hover{
    background-color: #f5f5f5;
}